
<body style="margin: 0 auto;">
 <h1 class="text-light"  style="margin: 20px; padding: 10px;">Control eficiente de caja menor</h1>

 <p class="text-center text-light ">
Optimiza el manejo de tus finanzas con nuestra aplicación web.
<br> Gestiona tus ingresos y egresos de forma ágil y precisa,
<br> manteniendo un control completo sobre tu caja menor.
</p>
</body>


<div class="footer text-center" style="position: fixed; bottom: 0; height: 25vh; width: 100%;">
    <img src="../assets/youtube.png" width="30" height="20" class="mx-2">
    <img src="../assets/facebook.png" width="30" height="20" class="mx-2">
    <img src="../assets/instragram.png" width="30" height="20" class="mx-2">
    
    <h1 class="text-center">CONTACTO</h1>
   
    <div class="d-flex align-items-center justify-content-center text-center">
        <img src="../assets/correo.png" width="30" height="20" class="mx-2">
        <p class="m-0">{{ gmail }}</p>
    </div>
    <div class="d-flex align-items-center justify-content-center text-center">
        <img src="../assets/telefono.png" width="30" height="20" class="mx-2">
        <p class="m-0"> telefono:1234567 </p>
    </div>
    <img src="../assets/chatboot.png" width="50" height="50" class="position-absolute bottom-0 end-0 m-2">
        
        
    <p class="mt-2">Todos los derechos reservados © 2023 Little box, desarrollado por Spoilers team</p>
</div>


