<div class="container">
  <ul class="nav nav-tabs" id="myTabs">
    <li class="nav-item">
      <a class="nav-link" (click)="cambiarPestana('iniciarSesion')" 
         [class.active]="pestanaActual === 'iniciarSesion'">Iniciar Sesión</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="cambiarPestana('registrarse')" 
         [class.active]="pestanaActual === 'registrarse'">Registrarse</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade" id="iniciarSesion" 
         [class.show]="pestanaActual === 'iniciarSesion'" 
         [class.active]="pestanaActual === 'iniciarSesion'">

         <div class="card text-center" style="width: 300px; margin: 20px auto;">
          <div class="card-body">
        
            <form (ngSubmit)="onSubmit()">
            
            <div class="mb-3"> 
              <label>Email</label>
              <input type="text" class="form-control" formControlName="email">
            </div> 
            <div class="mb-3">
              <label>Password</label>
              <input type="text" class="form-control" formControlName="password">
            </div>
          
            <input type="submit" value="enviar" class="btn btn-info">
          </form>
          </div>
        </div>

    </div>



    <div class="tab-pane fade" id="registrarse" 
         [class.show]="pestanaActual === 'registrarse'" 
         [class.active]="pestanaActual === 'registrarse'">
<p>holamundooo2</p>      
    </div>
  </div>
</div>
