<div class="card text-center" style="width: 300px; margin: 20px auto;">
  <div class="card-body">
    <!-- Your form goes here -->
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label>Username</label>
        <input type="text" class="form-control" formControlName="username">
      </div>
      <div class="mb-3">
        <label>Empresa</label>
        <input type="text" class="form-control" formControlName="empresa">
      </div>
      <div class="mb-3">
        <label>NIT</label>
        <input type="text" class="form-control" formControlName="NIT">
      </div>
      <div class="mb-3">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="email">
      </div>
      <div class="mb-3">
        <label>Password</label>
        <input type="text" class="form-control" formControlName="password">
      </div>

      <input type="submit" value="Registrar" class="btn btn-info">
    </form>
  </div>
</div>
