<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div class="logo">
      <img src="../assets/logo.PNG">
    </div>

    <div class="d-flex align-items-center">
      <!-- <a routerLink="/" routerLinkActive="active-link" class="nav-link mx-3" style="color: black;">Inicio</a> -->
      <!-- <a routerLink="/registrarse" routerLinkActive="active-link" class="btn btn-info mx-3" style="color:aliceblue;">Registrarse</a> -->

      <a routerLink="/preRegistro" routerLinkActive="active-link" class="btn btn-info mx-3" style="color:aliceblue;">Registrarse</a>
      <a routerLink="/login" routerLinkActive="active-link"  style="color:black;">Iniciar Sesion</a>
      <a routerLink="/prueba" routerLinkActive="active-link"  style="color:black;">Prueba </a>

      

    </div>
  </div>
</nav>
